<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5917720111786469"
     crossorigin="anonymous"></script>
<!-- 横向展示广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5917720111786469"
     data-ad-slot="7298444162"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>